$basepx: 4px;
$primary-color: '#EC752E';
$base-border: 1px solid #EC752E;


.width_60 {
    width: $basepx * 15;
    max-width: $basepx * 15;
}
.width_80 {
    width: $basepx * 20;
    max-width: $basepx * 20;
}
.width_100 {
    width: $basepx * 25;
    max-width: $basepx * 25;
}

.base_border {
    border: $base-border !important;
}

